
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;

}
section .image:before
{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg,#e91e63,#03a9f4);
  z-index: 1;
  mix-blend-mode: screen;

}
section .image{
  position: relative;
  width: 50%;
  height: 100%;

}

section .image img{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

section .contentbx{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

section .contentbx .formBx
{
  width: 50%;

}


section .contentbx .formBx h2
{
  color: #607;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 2px solid #550955;

}


section .contentbx .formBx p
{
  color: #607;
  font-weight: 600;
  font-size: .7em;
  margin-bottom: 20px;
  font-style: italic;
  margin-bottom: 60px;
 

}



section .contentbx .formBx .inputBx
{
  margin-bottom:20px;

}

section .contentbx .formBx .inputBx span
{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;

}

section .contentbx .formBx .inputBx input

{
  font-size: 18px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 2px solid #607
}


section .contentbx .formBx .inputBx input[type="submit"]
{
  display: flex;
  justify-content: center;
  background: rgb(156, 94, 167);
  outline: none;
  border: none;
  font-size: 500;
  cursor:pointer;
  width: 50%;
  border-radius: 30px;
  margin-left: 80px;


}


